<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453859121810-kdtvl8vjfjomrrums6v67lfj7laeejss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453859121810-kdtvl8vjfjomrrums6v67lfj7laeejss</string>
	<key>API_KEY</key>
	<string>AIzaSyAX41YUXSHz5n0BKF7mEAsaHdBTeoweYdY</string>
	<key>GCM_SENDER_ID</key>
	<string>453859121810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.youssouf.rhMef</string>
	<key>PROJECT_ID</key>
	<string>rhmefonline</string>
	<key>STORAGE_BUCKET</key>
	<string>rhmefonline.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453859121810:ios:cccfc1d3ae5dd3e2f4e44b</string>
	<key>DATABASE_URL</key>
	<string>https://rhmefonline-default-rtdb.firebaseio.com</string>
</dict>
</plist>